// 
// Modal component styles
// 

.modal {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &.is-zoomed {
        display: block;

        @media screen and (min-width: 770px) {
            max-height: 800px;
            max-width: 800px;
            box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, .8);
            margin: auto;
        }
    }
}

.modal-canvas {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
}

.modal-image {
    left: 0;
    max-height: none;
    max-width: none;
    position: absolute;
    top: 0;
}

.modal-close {
    height: 30px;
    left: 20px;
    top: 20px;
    position: absolute;
    width: 30px;

    &:before,
    &:after {
        background: #000;
        border-radius: 80px;
        content: '';
        height: 4px;
        position: absolute;
        top: 50%;
        width: 30px;
    }

    &:before {
        transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
        transform: rotate3d(0, 0, 1, -45deg);
    }
}
